* {box-sizing: border-box}

#container{
    background-image: url(https://wallpaperplay.com/walls/full/e/4/6/329964.jpg);


}

.aboutBack {
    background: linear-gradient(-45deg, #19053f, #330517, #020202, #a16ae0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 33vh;
    padding-top: 170px;
    margin-bottom: 40px;
}


  iframe {
    width: 330px; 
    height: 186px; 
    border: 0px;
  }
  
  /* images */
  .container {
    position: relative;
    width: 50%;
    max-width: 300px;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 200px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .teamwork{
    width: 200px;
    height: 150px;
  }
  
  .leader{
    width: 200px;
    height: 150px;
  }
  
  .time{
    width: 200px;
    height: 150px;
  }

#main{
  margin-top: 30px;
}

#imageMe{

    width:300px;
    height: auto;

}

/* image and all content media for responsive behaviour */
@media only screen and (max-width:640px) {
    .container {
        size: 71%;
      }
}

/* card  */

#aboutText {
    font-weight: bolder;
    font-size: large;
    text-indent: 3px;
  }

#aboutCard {
border: gray ;
background: rgba(255, 255, 255, 0.26);
}

#side{
    border-right:  rgb(200, 105, 255) 3px solid; 
}

#badge {
    margin-left: 70px;
}