.aboutBack {
    background: linear-gradient(-45deg, #19053f, #330517, #020202, #a16ae0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 30vh;
    padding-top: 170px;
}

.position {
    padding-bottom: 300px;
  }
  
  iframe {
    width: 330px; 
    height: 186px; 
    border: 0px;
  }
  
  /* images */
  
  .teamwork{
  width: 200px;
  height: 150px;
  margin-right: 20px;
  margin-left: 50px;
  margin-bottom: 30px;
  }
  
  .leader{
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
  }
  
  .time{
    width: 200px;
    height: 150px;
    margin-left: 50px;
    margin-bottom: 30px;
  }
