
.contactBack {
  background: linear-gradient(-45deg, #19053f, #330517, #020202, #a16ae0);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 43vh;
  padding-top: 200px;
  margin-bottom: 40px;
  }


/* image and all content media for responsive behaviour */
@media only screen and (max-width:640px) {
    .container {
        size: 71%;
    }
}

/* margins for contact page footer*/

#fullForm {
    
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 5px;
    text-align: center;
    
}

.atag {
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;

}


a:hover {
    color: rgb(200, 105, 255); 
  }



hr {
    border-radius: 20px;
    height: 5px;
    background-color:  rgba(0, 0, 0, 0.521);
  }

.btn {
    background-color: rgba(0, 0, 0, 0.555);
  
}

.btn:hover{
    background-color: rgb(200, 105, 255); 
}