
.contactBack {
    background-image: url("https://media.freestocktextures.com/cache/6c/34/6c34f470d0be0be75ee4c832ac7df425.jpg");
    background-size: cover;
  }

footer {
   
    border: 2px;
    margin-top: 325px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 7px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    
    
}
/* image and all content media for responsive behaviour */
@media only screen and (max-width:640px) {
    .container {
        size: 71%;
    }
}

/* margins for contact page footer*/

#fullForm {
    
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 5px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.atag {
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar {
    padding-bottom: 0px;
    padding-top: 15px;
    margin-bottom: 100px;
 
}
a:hover {
    color: hotpink;
  }



hr {
    border-radius: 20px;
    height: 5px;
    background-color:  rgba(0, 0, 0, 0.521);
  }

.btn {
    background-color: rgba(0, 0, 0, 0.555);
    color: blanchedalmond;
}

.btn:hover{
    background-color: hotpink;
}