

.homeBack {
  background-image: url("https://media.freestocktextures.com/cache/02/5e/025e73bd208783d39147ad72a26b6cdd.jpg");
  background-size: cover;
}
  
/* image and all content media for responsive behaviour */
  @media only screen and (max-width:640px) {
      .container {
          size: 71%;
        }
  }

/* hr */

  hr {
    border-radius: 20px;
    height: 5px;
    background-color:  rgba(0, 0, 0, 0.521);
  }


 

  a:hover {
    color: hotpink;
  }

  .name {
    font-weight: bolder;
    font-size: 50px;
    color: black;

  }

  .about-text {
    font-weight: bold;
  }
 

  .img-thumbnail {
     border-radius: 20px;
     border-color: black;
     filter: grayscale(75%);

  }

 