body{
  font-family: 'Open Sans Condensed', sans-serif;
  color: rgb(129, 119, 119);
}


/* image and all content media for responsive behaviour */
  @media only screen and (max-width:640px) {
      .container {
          size: 71%;
        }
  }

/* hr */

  hr {
    height: 2px;
    background-color:  rgba(0, 0, 0, 0.521);
  }


 

  a:hover {
    color: rgb(200, 105, 255);
  }


  .about-text {
    font-weight: bold;
  }
 

  .img-thumbnail {
     border-radius: 20px;
     border-color: black;
     filter: grayscale(75%);

  }
/* first background */
  .homeBack {
    background: linear-gradient(-45deg, #19053f, #330517, #020202, #a16ae0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
    
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/* title name */

.titlename {
  text-align: center;
  color: rgb(129, 119, 119);
  font-size: 80px;

}

.title {
  text-align: center;
  color: rgb(129, 119, 119);
  font-size: 60px;
  margin-bottom: 210px;
}