
.portfolioBack {
  background: linear-gradient(-45deg, #19053f, #330517, #020202, #a16ae0);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 43vh;
  padding-top: 180px;
  margin-bottom: 40px;
  }



.cardpage{
  margin-bottom:0px
}

#portfolio {
  margin-left: 100px;
}

.butn {
  margin-left: 600px
}
