
.portfolioBack {
  background: linear-gradient(-45deg, #19053f, #330517, #020202, #a16ae0);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 33vh;
  padding-top: 8%;
  margin-bottom: 3%;
  }



.cardpage{
  background-image: url(https://wallpaperplay.com/walls/full/f/b/8/329981.jpg);
  background-size: cover;
}

#portfolio {
  margin-left:5%
}

.butn {
  margin-left: 34%;
  background: rgba(255, 255, 255, 0)
}


 .butn:hover{
    background-color: rgb(200, 105, 255); 
} 