
.portfolioBack {
  background: linear-gradient(-45deg, #19053f, #330517, #020202, #a16ae0);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding-top: 8%;
  min-height: 33vh;

  }



.cardpage{
  background-image: url(https://newevolutiondesigns.com/images/freebies/white-wallpaper-preview-15.jpg);
  background-size: cover;
}

#portfolio {
  margin-left:5%;
  padding-top: 3%;
}

.butn {
  margin-left: 34%;
  background: rgba(255, 255, 255, 0)
}


 .butn:hover{
    background-color: rgb(200, 105, 255); 
} 