.foots{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(129, 119, 119);
  
  }
  footer {
   
    border: 2px;
    text-align: center;
    padding-top: 2%;
    font-size: 18px;
    font-weight: bold;
    
    
}