.nav-link {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(129, 119, 119);
    font-size: 25px;
    font-weight: bold;
 

}

.name {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(129, 119, 119);
    font-size: 35px;
    font-weight: bold;
  
}

.navbar {
    padding-top: 0.1%;
    
 
}

span#nav:hover{
    border-left: 2px solid gray;
    padding-left: 5px;
    border-right: 2px solid gray;
    padding-right: 5px;
    color: rgb(200, 105, 255);
    font-weight: bolder;
    
  }