.nav-link {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;

}

.name {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;
  
}

nav {
    background-color: rgba(245, 245, 245, 0.336);
 
}