.nav-link {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(61, 61, 61);
    font-size: 25px;
    font-weight: bold;

}

.name {
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(61, 61, 61);
    font-size: 35px;
    font-weight: bold;
  
}

.navbar {
    padding-bottom: 0px;
    padding-top: 15px;
    
 
}